.appartments {

}
.appartments__title {
    margin-bottom: 88px;
}
.title-2 {
    font-size: 36px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;
}
.appartments__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(290px, 1fr));
    gap: 30px;
}