@import './../base/mixins';
@import './../base/vars';

.cta {
    padding: 180px 0;

    background: no-repeat url("../../img/cta/cta-bg.jpg");

    @include mediaTablet {
        font-size: 14px;

        padding: 30px 0 30px 0;
    }

    .container {
        display: grid;
        grid-template-columns: (auto-fit, minmax(500px, 1fr))
    }
}

.cta__title {
    margin-bottom: 35px; 
}

.title-2 {
    @include mediaTablet {
        font-size: 32px;
    }
}

.cta__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include mediaTablet {
        grid-template-columns: 1fr;
        max-width: 500px;
        justify-self: center;
    }
}

.cta__text {
    line-height: 1.5;

    p + p {
        margin-top: 1em;
    }
}

.cta__form {
}

