@import '../base/vars';

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;

    @media screen and (max-width: 630px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.form__input {
    height: 50px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
    transition: background-color 0.2s ease-in;

    &::placeholder {
        color: $placeholder;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    &:focus {
        background-color: rgba(255, 255, 255, 0.2);
        background-image: radial-gradient(transparent 20%, $accent);
    }
}

.form__privacy {
    font-size: 13px;
    color: $muted;
    text-align: center;
    line-height: 1.23;
    
    @media screen and (max-width: 630px) {
        order: 1;
    }
}

.form__btn {
    padding: 12px 54px;
    background-color: $accent;
    text-align: center;
    height: 50px;
    font-weight: bold;

    white-space: nowrap;

    &:hover {
        background-color: #fff;
        color: $accent;
    }

    @media screen and (max-width: 630px) {
        max-width: 250px;
        border-radius: 25px;
        justify-self: center;
    }
}