.header {
    min-height: 840px;
    background: linear-gradient(180deg,
     #242B33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
       #242B33 92.19%), 
    url('../../img/header/header-bg.jpeg'),
     lightgray 50% / cover no-repeat;

     display: flex;
     flex-direction: column;
     justify-content: space-between;

    &__top {
    }

    // .header__top-row

    &__top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    // .header__nav

    &__nav {
    }

    // .header__title

    &__title {
    }

    // .header__footer

    &__footer {
    }
}

