@import '../base/vars';
@import '../base/mixins';

.header {
    min-height: 840px;
    background: linear-gradient(180deg, $dark 11.98%,rgba(45, 52, 60, 0.38) 51.04%, $dark 92.19%), url('../../img/header/header-bg.jpeg'),
    lightgray 50% / cover no-repeat;

    @include mediaTablet {
        min-height: unset;
        row-gap: 50px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 74px;

    // .header__top-row     

    &__top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    // .header__title

    &__title {
        color: $accent;
        text-align: center;
        font-family: $font-accent;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        padding-bottom: 141px;

        position: relative;

        @include mediaTablet{ 
            font-size: 32px;
            padding-bottom: 100px;
        }
    }
    
    &__title-icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        //transform: translate(-50%, 0%);

        @include mediaTablet {
            left: 45%;
        }
    }

    // .header__nav

    &__nav {
        // @media screen and (max-width: $tablet) {
        //     display: none;
        // }

        @include mediaTablet {
            transform: translateY(-800px);
        }
    }

    // .header__footer

    &__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @include mediaTablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    }
}

.header__nav-btn {
    display: none;

    @include mediaTablet() {
        display: block;
    }
}
