@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');
@import './_vars.scss';

/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    font-family: 'Raleway', sans-serif;
    background: $dark;
    color: #fff;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1140px;
}

.containersmall {
    max-width: 860px;
}

a {
    color: #fff;
    font-family: $font-main;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;

    &:hover {
        color: $accent;
        transition: all 0.3s ease 0s;
    }
}

.text-right {
    text-align: right;
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    width: 1px;

    position: absolute;

    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);

    white-space: nowrap;
}

.none {
    display: none !important;
}